/* LoginPage.css */
.login-page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #222831;
}

.title {
  margin-top: 324px;
  margin-bottom: 96px;
  width: 423px;
  height: 75px;
  flex-shrink: 0;

  color: #EEF7FF;

  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.login-content {
  display: flex;
  flex-direction: column; 
  align-items: center;     

  width: 100%;
  min-height: 100vh; 
}

.email-input-wrapper {
  display: flex;
  width: 469px;
  height: 62px;
  padding: 0px;
  flex-shrink: 0;

  border-radius: 40px;
  background: #344C64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: white;
  font-size: 18px;
  padding: 0 20px;
  border: none;

  box-sizing: border-box; 
  transition: box-shadow 0.05s ease;

}

.email-input-wrapper:focus-within{
  box-shadow: 0 0 0 3px #C0C0C0;
  border-radius: 40px;
}

.email-icon{
  margin-top: 16px;
  margin-left: 21px;
  width: 29px;
  height: 32px;
  margin-right: 28px;
  color: white;
}

.email-input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  outline: none;
}

.email-input::placeholder {
  color: #cccccc; 
}

.password-input-wrapper {
  margin-top: 23px;
  display: flex;
  width: 469px;
  height: 62px;
  padding: 0px;
  flex-shrink: 0;

  border-radius: 40px;
  background: #344C64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: white;
  font-size: 18px;
  padding: 0 20px;
  border: none;

  box-sizing: border-box; 
  transition: box-shadow 0.05s ease;

}

.password-input-wrapper:focus-within{
  box-shadow: 0 0 0 3px #C0C0C0;
  border-radius: 40px;
}

.password-icon{
  margin-top: 16px;
  margin-left: 21px;
  width: 29px;
  height: 32px;
  margin-right: 28px;
  color: white;
}


.password-input {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  outline: none;
}

.password-input::placeholder {
  color: #cccccc; 
}

input[type="password"]::-webkit-password-toggle-button {
    display: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

.password-eye-icon {
  margin-top: 21px;
  margin-right: 10px;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}

.login-button {
  margin-top: 25px;
  width: 215px;
  height: 62px;
  flex-shrink: 0;

  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 40px;
  background: #C0C9D1;

  font-size: 20px;
  font-weight: bold;
  color: #222831;

  cursor: pointer;
}

.login-button:hover {
  background: #b0b8c0;
}

.login-text {
  color: #435F74;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: auto;
  height: 29px;
  flex-shrink: 0;
  text-align: left;
  margin-left: 20px;
  margin-right: 12px;
}

.arrow-icon {
  width: 41px;
  height: 45px;
  margin-bottom: 5px;
}

.arrow-active {
  display: none;
}


.login-button:active {
  background: #344C64;
  color: #F3F3F3;
}

.login-button:active .login-text{
    color: #F3F3F3;
}

.login-button:active .arrow-default {
  display: none;
}

.login-button:active .arrow-active {
  display: inline;
}

.error-message {
  color: #B82F2F;

  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 328px;
  height: 21px;
  flex-shrink: 0;

  margin-top: 10px;
  margin-right: 77px;
}

