.top-bar {
    display: flex;
    align-items: center;
    background: #171717;
    height: 70px;

    top: 0;            /* 추가 */
    left: 0;           /* 추가 */
    width: 100%;       /* 추가 */
    z-index: 200;      /* (선택) 다른 요소 위에 보이게 */
}

.status-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 10px;
    display: inline-block;
    background: #aaa;
}

.status-dot.online {
    background: #44ff44;
}

.status-dot.offline {
    background: #ff4444;
}

.status-text.online {
    color: #44ff44; /* 초록 */
}

.status-text.offline {
    color: #ff4444; /* 빨강 */
}

.status-text {
    font-weight: bold;
}

.top-bar-time {
    font-size: 1.2rem;
    font-weight: normal;
    margin-right: 50px;
    margin-left: 10px;
    color: #ccc;
    margin-left: auto; /* 오른쪽에 배치 */
}